body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 42px;
    border-bottom: 3px groove;
}

.avatar1 {
    max-width: 50px;
    max-height: 50px;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
}

.avatar-block {
    width: 50px;
    position: relative;
    top: 25px;
}

.avatar-block-fly {
    position: absolute;
}

.main-content {
    display: flex;
}

.left-menu {
    /* width: 25px; */
    width: 250px;
    border-right: 3px groove;
}

.menu-expanded{
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 70px;   
}

li .menu-expanded{
    position: absolute;
    margin-left: 70px;
    display: none;
}

li:hover > .menu-expanded{
    display: block;
}

.menu-expanded li .text{
    width: 70px;
    background: rgb(165, 198, 238);
    display: inline-block;
}

.left-menu-fly {
    position: fixed;
    z-index: 20;
}

.content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 51px);
}

.search-block {
    background-color: ccc;
    position: fixed;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.search-block:hover {
    width: auto;
    height: auto;
}

.search-block .title {
    display: none;
}

.search-block:hover .title {
    display: inline;
}

.girl-block {
    margin: 10px;
    height: calc(20px + 200px + 3px * 2 + 2px);
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
}

.girl-block:hover {
    border: 1px brown solid;
}

.girl-block .text-block {
    border-top: 1px solid;
    height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.girl-block .text-block .text {
    margin-bottom: 20px;
}

.button-block-fly {
    position: absolute;
}

.girl-block .name {
    margin: 3px 0;
    height: 20px;
    text-align: center;
}

.girl-block img {
    max-width: 200px;
    max-height: calc(200px - 20px);
    border-radius: 10px;
}

.image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(200px - 20px);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.buttons {
    height: 20px;
    display: flex;
}

.button {
    flex: 1;
    background: rgb(77, 183, 183);
    border-right: 1px solid;
    display: flex;
    justify-content: center;
}

.button:first-child {
    border-bottom-left-radius: 10px;
    background: rgb(163, 68, 247);
}

.button:last-child {
    border-bottom-right-radius: 10px;
    border-right: none;
}

.help-link {
    display: none;
}

.left-menu a.icon{
    white-space: nowrap;
}

.left-menu a.icon:hover {
    background: rgb(212, 194, 213);
    border-radius: 20px;
    padding-right: 7px;
}

a.icon:hover .help-link {
    display: block;
}

li:hover > a.icon .help-link{
    display: block;
}

.page {
    display: none;
}

.page:target {
    display: flex;
}

.girls {
    flex-wrap: wrap;
}

.popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup.hide {
    display: none;
}

.popup .cover {
    position: fixed;
    background: black;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.popup .popup-content {
    background: wheat;
    width: 200px;
    height: 150px;
    z-index: 120;
}

#tables td {
    border: 1px solid;
}

#tables tr {
    height: 30px;
}

#tables tr:nth-child(2n) {
    background-color: rgb(185, 216, 216);
}

#tables tr:hover {
    background: aqua;
}

.bonus-block {
    margin: 10px;
    height: 271px;
    width: 186px;    
}

.bonus-block {
    background-image: url(../nice_image/nice_image.jpg);
}

.bonus-block:hover {
    background-image: url(../nice_image/nice_image_girl.jpg);    
}



.bonus-avatar .bonus-block {
    margin: 0px;
    height: 50px;
    width: 50px;    
}

.bonus-avatar .bonus-block {
    background-image: url(../images/smilik2.jpg);
}

.bonus-avatar .bonus-block:hover {
    background-image: url(../images/lips2.jpg);    
}












































































/*
.ava{
    max-width:: 50px;
    max-height: 50px;
}

.avatar-block {
    width: 50px;
    height: 50px;
    display: block;
    /*position: relative;

    top: 25px;
    margin-right: 50px


a.ava {
    background: url(../images/smilik.png);
}

a.ava {
    background: url(../images/kiss-mark-apple.png);    
}

*/


/*
.bonus-block {    
    border: 1px solid;
    border-radius: 10px; 
}

.bonus-block:hover {
    border: 1px brown solid;
}
*/